[
 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007724"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007726"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERS153831"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR031459"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007725"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERS153832"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007722"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR031479"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR031480"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR031484"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR022532"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1791979"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1791997"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1792009"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1792076"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1792144"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1792114"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1792179"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR016864"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1792338"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR016866"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1792429"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR016868"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR016867"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR016865"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR564260"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR564261"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR564262"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR016863"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR032134"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1657070"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1657101"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1657059"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1657056"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1657061"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1657065"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1657068"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR841904"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SAMN03776961"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125598"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125603"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125605"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125608"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR841877"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR841874"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125612"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125613"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125618"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125621"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125625"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125626"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125627"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR125628"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR841793"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR841815"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR016861"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR032132"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR032133"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX002429"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR650227"}

 {:number-of-files 3
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR650226"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR650219"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR650221"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR015582"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1239340"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1239341"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1239336"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1239337"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1239338"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRR1239339"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR970412"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007716"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERR181435"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007723"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007720"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007721"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007718"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX012272"}

 {:number-of-files 2
  :ena-url "https://www.ebi.ac.uk/ena/data/view/ERS153830"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX002001"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX002003"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX002002"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX002004"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX002005"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007719"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX005394"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX007715"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX003590"}

 {:number-of-files 1
  :ena-url "https://www.ebi.ac.uk/ena/data/view/SRX003589"}
 ]
